@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@600&family=Roboto+Condensed:wght@300&family=Roboto+Mono:wght@500&family=Source+Sans+Pro:wght@600&family=Tapestry&display=swap');

body{
  margin: 0;
  background: #f1f1f1;
}

.navbar{
  display: block;
  background: #313131;
  color:#fff;
}

.nav-area{
  margin:30px auto;
  width:70%;
}
.form-control{
  padding-left:30px;
}
.fa-map-pin{
  position: relative;
  color: #444;
  top:30px;
  left: 10px;
}
.fas.fa-check,.err{
  position: relative;
  color:#444;
  top:30px;
  float: right;
  display: none;
}



/* for bottom half */
.contain{
  margin:0 auto;
  width:70%;
}
.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #999;
  color:#f1f1f1;
  padding-left: 10px;
}
.info{
  border:solid #313131 1px;
  border-top:none;
  padding-left: 20px;
  padding-top: 20px;
}
.close{
  padding:3px;
  border-radius: 50%;
  font-size: 20px;
  background: #777;
  margin-right: 10px;
}
.close:hover{
  background: #555;
  cursor: pointer;
}
.loading{
  display: none;
}
